<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Assets/vendors")
        @*@Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body>


        <div class="container">
            @RenderBody()
        
            

        </div>
        <div class="container">
            <footer>
                <p>&copy; @DateTime.Now.Year - </p>
            </footer>
        </div>

        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/bundles/plugging")
        @RenderSection("Scripts", false)
    </body>
</html>